.cart {
  border: 1px solid black;
  width: 34.375rem;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}

.cart h1 {
  display: flex;
  justify-content: center;
}

.cartItems {
  overflow: auto;
  flex: 1;
}

.checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.25rem 1.25rem 0 1.25rem;
  height: 120px;
  width: 90%;
  background-color: white;
}

.total {
  font-size: 1.25rem;
  font-weight: bold;
}
