.cart {
  border: 1px solid black;
  width: 34.375rem;
  height: 100vh;
  position: sticky;
  top: 0;
}

.cart h1 {
  display: flex;
  justify-content: center;
}

.cartItems {
}

.checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.25rem;
  position: absolute;
  bottom: 0;
  width: 90%;
}

.total {
  font-size: 1.25rem;
  font-weight: bold;
}
